              body {
                  margin: 0 auto;
                  max-width: 690px;
                  color: black;
                  font-family: 'Raleway', sans-serif;
                  background-image: url("../img/background.jpg");
                  background-attachment: fixed;
              }
              
              .leftContainer {
                  float: left;
                  max-width: 80px;
                  height: 450px;
                  width: 80px;
                  margin: 0px;
                  position: relative;
                  position: fixed;
              }
              
              .flag {
                  height: 16px;
                  width: 24px;
              }
              
              .fixedNavbar {
                  position: absolute;
                  height: 100%;
              }
              
              li {
                  margin-bottom: 10px;
              }
              
              #rooms {
                  height: 900px;
                  border-top: 1px solid whitesmoke;
                  border-radius: 0%;
              }
              
              .rightContainer {
                  margin-left: 80px;
                  width: 670px;
                  height: 7050px;
              }
              
              .logo {
                  margin-left: 790px;
                  height: 100px;
                  width: 100px;
                  top: 0px;
                  position: fixed;
                  background: transparent;
              }
              
              ul {
                  list-style: none;
                  padding: 0;
              }
              
              div {
                  height: 200px;
                  background-size: cover;
                  position: relative;
                  margin: 40px 0 0 0;
                  border-radius: 12px;
                  opacity: 0.92;
                  -moz-transition: .7s;
                  transition: .7s;
                  -webkit-transition: .7s;
              }
              
              html body div.priceTable {
                  height: 800px;
                  border-radius: 3%;
                  font-size: 14px;
                  border-top: 1px solid whitesmoke;
                  border-radius: 0%;
              }
              
              .textSize {
                  font-size: 36px;
                  margin-top: 5px;
              }
              
              div:hover {
                  opacity: 1.0;
                  transition: .7s;
                  -webkit-transition: .7s;
              }
              
              h1 {
                  font-family: 'Londrina Sketch', cursive;
                  text-align: center;
                  font-size: 77px;
                  color: white;
                  margin: 60px 0 0 0;
                  transition: .7s;
                  -webkit-transition: .7s;
                   -moz-transition: .7s;
              }
              
              h4 {
                  color: green;
                  font-family: 'Raleway', sans-serif;
                  text-align: right;
                  margin-right: 180px;
              }
              
              a {
                  color: black;
                  text-decoration: none;
                  font-family: 'Raleway', sans-serif;
                  font-weight: bold;
              }
              
              h1:hover {
                  font-size: 80px;
                  font-family: 'Londrina Shadow', cursive;
                  margin: 30px 0 0 0;
                  transition: .7s;
                  -webkit-transition: .7s;
                  -moz-transition: .7s;
              }
              
              h2 {
                  text-align: center;
                  color: black;
                  margin: 0px 0 70px 0;
                  font-family: 'Dancing Script', cursive;
              }
              
              .uk-active {
                  color: #008B8B;
                  font-size: 17px;
                  font-weight: bold;
                  text-decoration: underline !important;
              }
              
              html body div.theHotelPic h2 {
                  color: black;
                  font-weight: bold;
              }
              
              .roomsText {
                  height: 80px;
                  margin-top: 30px;
              }
              
              .roomsHeader {
                  height: 25px;
              }
              
              .faceBookAndWifi {
                  width: 670px;
                  height: 250px;
                  background: transparent;
                  opacity: 1.0;
                  margin-left: 10px;
              }
              
              .wifi {
                  height: 240px;
                  width: 240px;
                  float: right;
              }
              
              .theHotelDesc {
                  height: 380px;
                  font-family: 'Raleway', sans-serif;
                  opacity: 1.0;
                  width: 670px;
                  margin-left: 10px;
              }
              
              html.uk-notouch body div.rightContainer div#rooms div.room1 p:hover {
                  height: 80px;
                  transition: 3s ease-out;
                  -moz-transition: 3s ease-out;
                  -webkit-transition: 3s ease-out;
              }
              
              html.uk-notouch body div.rightContainer div#rooms div.room2 p:hover {
                  height: 80px;
                  transition: 3s;
                  -moz-transition: 3s;
                  -webkit-transition: 3s;
              }
              
              html.uk-notouch body div.rightContainer div#rooms div.room3 p:hover {
                  height: 80px;
                  transition: 3s;
                  -moz-transition: 3s;
                  -webkit-transition: 3s;
              }
              
              small {
                  display: none;
                  transition: display 9s ease-out;
                  -moz-transition: display 9s ease-out;
                  -webkit-transition: display 9s ease-out;
              }
              
              html.uk-notouch body div.rightContainer div#rooms div.room1 p,
              html.uk-notouch body div.rightContainer div#rooms div.room2 p,
              html.uk-notouch body div.rightContainer div#rooms div.room3 p {
                  color: rgba(255, 255, 255, 1);
                  background: black;
                  height: 20px;
                  background: linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
                  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
                  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
                  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
                  padding: 10px;
                  line-height: 28px;
                  text-align: justify;
                  position: 100px 1px 1px 0px;
                  transition: height .5s;
                  -webkit-transition: height .5s;
                  -moz-transition: height .5s;
                  font-family: 'Raleway', sans-serif;
              }
              
              p {
                  color: black;
                  padding: 10px;
                  line-height: 28px;
                  text-align: justify;
                  position: 100px 1px 1px 0px;
                  transition: height .5s;
                  -webkit-transition: height .5s;
                  -moz-transition: height .5s;
                  font-family: 'Raleway', sans-serif;
              }
              
              .headerPic {
                  background-image: url("../img/headerPic.jpg");
                  height: 400px;
                  position: relative;
                  opacity: 0.94;
                  margin-bottom: 19px;
              }
              
              .theHotelPic {
                  height: 430px;
                  opacity: 0.9;
                  width: 670px;
                  margin-left: 10px;
              }
              
              .uk-cover-background {
                  height: 400px;
              }
              
              .room1 {
                  background-image: url("../img/room1.jpg");
                  transition: .7s;
                  -webkit-transition: .7s;
              }
              
              .room1:hover {
                  height: 360px;
                  transition: .7s;
                  -moz-transition: .7s;
                  -webkit-transition: .7s;
              }
              
              .room2 {
                  background-image: url("../img/room2.jpg");
                  transition: .7s;
                  -moz-transition: .7s;
                  -webkit-transition: .7s;
              }
              
              #fb-root {
                  height: 0px;
                  margin: 0;
              }
              
              .sfp-container {
                  margin: 0px 0px 20px 0px;
                  opacity: 1.0 !important;
                  width: 300px;
              }
              
              .checkText {
                  background: rgba(255, 255, 255, 0.36) none repeat scroll 0 0;
                  border: 1px solid whitesmoke;
                  border-radius: 3;
                  height: 88px;
                  margin: 0 auto;
                  padding: 10px;
                  position: absolute;
                  width: 660px;
                  line-height: 23px;
              }
              
              .room2:hover {
                  height: 360px;
                  -moz-transition: .7s;
                  transition: .7s;
                  -webkit-transition: .7s;
              }
              
              .room3 {
                  background-image: url("../img/room3.jpg");
                  -moz-transition: .7s;
                  transition: .7s;
                  -webkit-transition: .7s;
              }
              
              .room3:hover {
                  height: 350px;
                  transition: .7s;
                  -moz-transition: .7s;
                  -webkit-transition: .7s;
              }
              
              .price {
                  float: right;
              }
              
              html body div.contacts {
                  border-top: 1px solid whitesmoke;
                  border-radius: 0;
              }
              
              html body div.contacts h2 {
                  font-size: 40px;
              }
              
              .contacts {
                  border-top: 1px solid whitesmoke;
              }
              
              #contacts {
                  height: 340px;
              }
              
              html body div#map_canvas {
                  opacity: 1.0 !important;
                  height: 660px !important;
                  width: 670px;
                  padding-top: 0px !important;
                  background-image: url("../img/background.jpg");
                  position: absolute;
                  margin-top: 0px !important;
              }
              
              html body div#contactsMap {
                  height: 50px !important;
                  border-width: 0px !important;
                  margin: 0;
              }
              
              table {
                  border-color: white !important;
                  color: white;
                  border-width: 2px;
                  border-radius: 3%;
              }
              
              html body div.priceTable table tbody tr td div {
                  height: 18px;
                  width: 108px;
                  padding-bottom: 18px;
                  background-color: green;
                  margin-top: 2px;
                  text-align: center;
              }
              
              .priceTable tr:first-child {
                  color: black;
                  font-weight: bold;
              }
              
              .aboutKiten {
                  height: 750px;
                  border-top: 1px solid whitesmoke;
                  border-radius: 0%;
              }
              
              .trips {
                  height: 1100px;
                  border-top: 1px solid whitesmoke;
                  border-radius: 0%;
              }
              
              #left {
                  float: left;
                  width: 200;
                  height: 200px;
                  margin-top: 19px;
                  margin-right: 10px;
                  opacity: 1.0;
                  margin-left: 7px;
              }
              
              #right {
                  float: right;
                  width: 200px;
                  height: 180px;
                  margin-left: 5px;
              }
              
              html.uk-notouch body div.rightContainer div#contacts.contacts a img {
                  width: 40px;
                  height: 40px;
                  float: left;
                  margin-left: 152px;
                  margin-top: 30px;
                  border-radius: 40%;
              }
              
              .weatherKiten {
                  opacity: 1 !important;
                  height: 320px;
                  border-top: 1px solid whitesmoke;
                  border-radius: 0%;
              }
              
              @media (max-width: 550px) {
                  h1 {
                      font-size: 50px;
                      margin-top: 20px;
                      line-height: 40px;
                  }
                  h1:hover {
                      font-size: 45px;
                      margin-top: 20px;
                      line-height: 40px;
                  }
                  h2 {
                      font-size: 20px;
                      margin: 20px 0 30px 0;
                  }
                  div {
                      margin: 20px 12px 0 12px;
                  }
                  html.uk-notouch body div.rightContainer div.headerPic,
                  html.uk-notouch body div.rightContainer div.theHotelPic {
                      width: 422px;
                      margin-left: 30px;
                  }
                  .theHotelPic {
                      height: 300px;
                  }
                  .room1:hover {
                      height: 250px;
                  }
                  .room2:hover {
                      height: 250px;
                  }
                  .room3:hover {
                      height: 250px;
                  }
                  p {
                      font-size: 16px;
                      line-height: 24px;
                  }
                  html.uk-notouch body div.rightContainer div#theHotel.theHotelDesc {
                      width: 450px;
                  }
                  small {
                      font-size: 16px;
                  }
                  body div.theHotelPic h2 {
                      font-size: 30px;
                      font-weight: bold;
                  }
                  .theHotelText {
                      height: 60px;
                      width: 100px;
                  }
                  .map {
                      width: 420px !important;
                      height: 400px !important;
                  }
                  html body div.priceTable table tbody tr td div {
                      height: 40px;
                      width: 43px;
                      border-width: 0px;
                      border-radius: 0%;
                      background-color: transparent;
                      margin-left: 20px;
                      margin-bottom: 15px;
                      text-align: center;
                      font-size: 12px;
                      color: black;
                      font-weight: bold;
                  }
                  .priceTable table tbody tr:first-child {
                      font-size: 13px;
                      color: black;
                      font-weight: bold;
                      height: 35px;
                      width: 44px;
                  }
                  .tr {
                      color: black;
                  }
                  #priceList {
                      height: 1220px;
                  }
                  html.uk-notouch body div.rightContainer div#priceList div.priceTable table {
                      font-size: 12px;
                  }
                  .theHotelDesc {
                      height: 550px;
                  }
                  .checkText {
                      background-color: black;
                      border: none;
                      width: 430px;
                      color: white;
                      padding: 15px 0 10px 0px;
                      margin-top: 60px;
                      font-size: 12px;
                      height: 104px;
                      margin-left: 27px;
                  }
                  .theHotelDesc div p {
                      height: 500px;
                  }
                  .leftContainer {
                      font-size: 13px;
                      width: 35px;
                  }
                  .wifi {
                      display: none;
                  }
                  .rightContainer {
                      width: 490px;
                      margin-left: 35px;
                  }
                  #contacts {
                      height: 280px;
                      font-size: 15px;
                  }
                  h4 {
                      margin-right: 54px;
                  }
                  html.uk-notouch body div.rightContainer div#contacts.contacts a img {
                      margin-left: 90px;
                  }
                  .aboutKiten {
                      width: 440px;
                      height: 915px;
                  }
                  .trips {
                      width: 440px;
                      height: 1500px;
                  }
                  .weatherKiten {
                      width: 440px;
                  }
                  #rooms {
                      height: 740px;
                  }
              }
